<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
         #buttonDiv{
            justify-content: center;
             
            display:flex;
        }
        #button1{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
        }
        #button2{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            /* text-decoration: none; */
            /* display: inline-block; */
            font-size: 16px;
            margin-top: 20px;
            margin-left: 10px;
        }
        #h1{
            margin-left: 35%;
        }
       
       
    </style>
</head>

<body >
    <h1 id="h1">WellcomE to HomE PagE</h1>
    <div id='buttonDiv'>
        <form action="/login" method="GET">
            <button id='button1'>Login</button>
        </form>

        <form action="/register" method="GET">
            <button id='button2'>Register</button>
        </form> 
    </div>
</body>
</html>